{erl_opts, [debug_info]}.

{cover_enabled, true}.
{deps, []}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{pre_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_faiss.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_faiss.sh"}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/barrel-db/barrel">>},
    {source_url_pattern,
        <<"https://github.com/barrel-db/barrel/blob/main/apps/barrel_faiss/%{path}#L%{line}">>},
    {homepage_url, <<"https://barrel-db.eu">>},
    {logo, "assets/logo.png"},
    {extras, [
        <<"README.md">>,
        <<"guides/getting-started.md">>,
        <<"guides/kv-integration.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"readme">>},
    {api_reference, true},
    {groups_for_extras, [
        {<<"Guides">>, [
            <<"guides/getting-started.md">>,
            <<"guides/kv-integration.md">>
        ]},
        {<<"About">>, [<<"CHANGELOG.md">>, <<"LICENSE">>]}
    ]},
    {before_closing_head_tag, #{html => "<style>
      :root {
        --main: #006B77; --mainDark: #00565F; --mainDarkest: #003D44;
        --mainLight: #75B6B2; --mainLightest: #E6F2F3;
        --link-color: #C65E59; --link-visited-color: #C65E59;
        --sidebarAccentMain: #C65E59; --searchAccentMain: #C65E59;
      }
      body.dark {
        --main: #75B6B2; --mainDark: #006B77; --mainDarkest: #003D44;
        --mainLight: #9BCECB; --mainLightest: #123033;
        --link-color: #E0837E; --link-visited-color: #E0837E;
        --sidebarAccentMain: #E0837E; --searchAccentMain: #E0837E;
      }
    </style>"}}
]}.
