{erl_opts, [debug_info]}.
{deps, []}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{pre_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_faiss.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_faiss.sh"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/barrel-db/barrel_faiss">>},
    {extras, [
        <<"README.md">>,
        <<"guides/getting-started.md">>,
        <<"guides/kv-integration.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"readme">>},
    {api_reference, true},
    {groups_for_extras, [
        {<<"Guides">>, [
            <<"guides/getting-started.md">>,
            <<"guides/kv-integration.md">>
        ]},
        {<<"About">>, [
            <<"CHANGELOG.md">>,
            <<"LICENSE">>
        ]}
    ]}
]}.
