%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warnings_as_errors,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
%%  warn_missing_spec,
%%  warn_untyped_record,
  debug_info,
  {parse_transform, stacktrace_transform}
]}.

{erl_first_files, ["src/util/plugin/barrel_plugin.erl"]}.


%% == Dependencies ==

{deps, [
  {stacktrace_compat, "1.0.1"},
  {erlang_term, "1.7.4"},
  %% uuid lib
  {uuid, {pkg, uuid_erl}},
  {gproc, "0.8.0"},
  {worker_pool, "4.0.0"},
  {hooks, "2.0.1"},
  {ehash, "0.2.1"},
  {backoff, "1.1.6"},
  {recon, "2.3.4"}
]}.


{eunit_opts, [{dir, "src"}]}.


%% == Release ==


%% == Profiles ==


%% == Common Test ==

{ct_compile_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  %%warn_missing_spec,
  %%warn_untyped_record,
  debug_info
]}.

{ct_opts, [
%  {sys_config, ["config/test.config"]}
]}.


%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == Dialyzer ==
%%
{dialyzer, [
  {warnings, [
    no_missing_calls,
    race_conditions,
    no_return,
    unmatched_returns,
    error_handling%,
    %unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "barrel_core"},
  {base_plt_location, "."},
  {base_plt_prefix, "barrel_core"}
]}.


{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.