[
    {vbarrel, [
        {db_path, "priv/vbarrel_db"},
        {dimension, 768},

        %% Pluggable provider chain - tried in order until one succeeds
        {embedding_providers, [
            {vbarrel_embed_ollama, #{
                url => <<"http://localhost:11434">>,
                model => <<"nomic-embed-text">>
            }},
            {vbarrel_embed_python, #{
                url => <<"http://localhost:8765">>
            }}
            %% Add more providers as needed:
            %% {vbarrel_embed_openai, #{api_key => <<"sk-...">>}}
        ]},

        {hnsw, #{
            m => 16,
            m_max0 => 32,
            ef_construction => 200,
            ef_search => 50
        }}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    single_line => true,
                    template => [time, " [", level, "] ", msg, "\n"]
                }}
            }}
        ]}
    ]},

    {hackney, [
        {max_connections, 50}
    ]}
].
