%% -*- erlang -*-
[
 {kernel, [
           {logger_level, info},
           {logger,
            [{handler, default, logger_std_h,
              #{level => info,
                formatter => {logger_formatter,
                              #{template => [time," ",pid," ",msg,"\n"]}},
                filters => [{h1,  {fun logger_filters:progress/2, stop}}]}},
             {handler, info, logger_std_h,
              #{level => debug,
                config => #{type => {file, "log/debug.log"}},
                formatter => {logger_formatter,
                              #{template => [time," ",pid," ",msg,"\n"]}},
                filters => [{h1,  {fun logger_filters:progress/2, stop}}]}}

            ]}
          ]}
].
